<div class="grid grid-cols-2 min-h-screen">
  <div class="col-span-1 bg-base h-full flex flex-col gap-4 justify-center items-center">
    <h1 class="text-6xl font-bold">RoboQBO 4.0</h1>
    <img class="w-1/4" src="img/logos/logo-fdrk.webp" alt="FDRK Logo">
  </div>
  <div class="col-span-1 bg-base h-full  flex flex-col justify-center items-center">
    <div class="card bg-base-100 w-1/2 shadow-xl border border-primary">
        <div class="card-body flex justify-center flex-col items-center w-full">
          <h2 class="card-title">LOGIN</h2>
          
          <div class="card-actions justify-end w-full">
            <button class="btn btn-primary w-full">Accedi</button>
          </div>
        </div>
      </div>
  </div>
</div>