<div class="fixed w-full z-40">
    <div class="navbar bg-base-100 border-b border-base-200 w-full shadow-xl">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl"> <img class="w-16" src="img/logos/logo-fdrk.webp" alt="FDRK Logo">RoboQBO 4.0</a>
           
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a><lucide-angular name="log-out"></lucide-angular>Logout</a></li>
            </ul>
        </div>
    </div>
    
</div>