<div class="overflow-x-auto">
    <table class="table table-xs bg-base-100 rounded shadow-lg overflow-hidden">
      <thead>
        <tr class="uppercase text-primary">
          <th>ID</th>
          <th>Ricetta</th>
          <th>Stato</th>
          <th>Data invio</th>
          <th>Data fine</th>
          <th>Azione</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes" class="text-white">
          <td>{{recipe.id}}</td>
          <td>{{recipe.name}}</td>
          <td class="uppercase font-bold" [ngClass]="{ 'text-success': recipe.status === 'Completato', 'text-warning': recipe.status === 'In attesa' }">{{recipe.status}}</td>
          <td>{{recipe.date_send | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{recipe.date_end | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td><button class="btn btn-primary btn-xs">Dettagli</button></td>
        </tr>
        
      </tbody>
    </table>
    <div class="join w-full flex justify-center items-center mt-4">
      <button class="join-item btn btn-xs">«</button>
      <button class="join-item btn btn-xs">1</button>
      <button class="join-item btn btn-xs btn-active">2</button>
      <button class="join-item btn btn-xs">3</button>
      <button class="join-item btn btn-xs">4</button>
      <button class="join-item btn btn-xs">»</button>
    </div>
  </div>